
<!-- <ng-template #nodata></ng-template> -->
      <form (ngSubmit)=onSubmit(f) #f="ngForm">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" ngModel>
          </div>
          <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
        </form>

        
        <table class="table">
            
            <tbody>
              <tr *ngFor = "let data of mydata">
                <td><input class="form-control" type="hidden" name="_id" [(ngModel)]="data._id"></td>
                <td><input class="form-control" type="text" name="name" [(ngModel)]="data.name"></td>
                <td><input class="form-control" type="text" name="name" [(ngModel)]="data.mobile"></td>
                <td><input class="form-control" type="text" name="name" [(ngModel)]="data.email"></td>
                <td><input class="form-control" type="text" name="name" [(ngModel)]="data.message"></td>
                <td><button class="btn btn-primary" (click)='editbutton()'>Edit</button></td>
                <td><button class="btn btn-primary" (click)='deletebutton()'>Delete</button></td>

              </tr>
            </tbody>
          </table>
  

